<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul >
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<!-- <li><a href="/projects">Projects</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<!-- <p> </p> -->
	    		<ul>
	    			<li>Reach out:</li>
	        		<li>
	        			<!-- <img src="resources/email_icon.png" style="width: 1.5%"> -->
	        			<span style="display: inline-block; padding-bottom: 25px;">
	        				<a href="mailto:pranil.j20@gmail.com"> pranil.j20@gmail.com</a>
	        			</span>
	        			</li>
	        		<li><a href="mailto:pranil.joshi@iitb.ac.in">pranil.joshi@iitb.ac.in</a></li>

				</ul>
			</footer>
		</body>
	</html>
